<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51001186597-foa5b78fe4ofr5kdamfp8ap0oi9a7aum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51001186597-foa5b78fe4ofr5kdamfp8ap0oi9a7aum</string>
	<key>API_KEY</key>
	<string>AIzaSyCv8Enwu2l5y2QmHMgQ3LkM7y6I6yD_3Y8</string>
	<key>GCM_SENDER_ID</key>
	<string>51001186597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tahrichaApp</string>
	<key>PROJECT_ID</key>
	<string>tahricha-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tahricha-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51001186597:ios:7a2862ce8095941f17e2cc</string>
</dict>
</plist>